*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.cont-body{
  width: 100%;
  min-height: 900px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #191919;
}
html{
  overflow-y: hidden;
}